
.ratingLocationContainer {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    display: flex;
    gap: 16px;
    align-items: center;
}

.ratingContainer {
    display: flex;
    gap: 4px;
}

.locationContainer {
    display: flex;
    gap: 4px;
    align-items: center;
}