.bannerButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 18px;
    border-radius: 999px;
    background: var(--button);
    color: white;
    border: 1px solid transparent;
    cursor: pointer;
    transition: transform .1s ease, background .2s ease;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.005em;
    vertical-align: middle;
    width: 166px;
    height: 56px;
    text-transform: capitalize;
}

.bannerButton:hover {
    background: var(--button-hover);
}

.bannerButton:active {
    transform: translateY(1px);
}