header.sticky {
    position: sticky;
    top: 0;
    z-index: 20;
    background-color: var(--inputs);
    border: 1px solid var(--inputs);
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 72px;
    gap: clamp(24px, 42vw, 450px);
}

.nav {
    display: flex;
    gap: 32px;
    align-items: center;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
}