.favoritesButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    background: none;
}

.favoritesIcon {
    fill: var(--main);
    transition: fill 0.2s ease;
    cursor: pointer;
}

.favoritesButton:hover .favoritesIcon {
    fill: var(--button-hover);
}

.active .favoritesIcon {
    fill: var(--button);
}