.cardContainer {
    padding: 24px;
    display: flex;
    gap: 24px;
    background: var(--white);
    border: 1px solid var(--gray-light);
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .04);
    height: 368px;
}

.cardImageContainer {
    height: 320px;
    width: 292px;
    background: var(--white);
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardDetailsContainer {
    display: flex;
    gap: 24px;
    flex-direction: column;
}

.cardHeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 8px;
    flex-direction: column;
}

.cardHeaderPriceContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0;
}

.cardHeader {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 349px;
}

.cardPriceContainer {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.ratingLocationContainer {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    display: flex;
    gap: 16px;
    align-items: center;
}

.ratingContainer {
    display: flex;
    gap: 4px;
}

.locationContainer {
    display: flex;
    gap: 4px;
    align-items: center;
}

.description {
    color: var(--text);
    max-width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    margin: 0;
}

.cardFeaturesWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.cardFeature {
    display: inline-flex;
    align-items: center;
    border: 1px solid var(--border);
    border-radius: 999px;
    background: white;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    padding: 12px 18px;
    gap: 8px;
    text-transform: capitalize;
    background: var(--badges);
}