.camperDetailsSection {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    gap: 60px;
}

.detailsCard {
    display: flex;
    gap: 28px;
    flex-direction: column;
    /*background: var(--white);*/
    /*border: 1px solid var(--border);*/
    /*border-radius: var(--radius);*/
    /*box-shadow: 0 2px 10px rgba(0, 0, 0, .04);*/
}