.camperDetailsSection {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    gap: 60px;
}

.detailsCard {
    display: flex;
    gap: 28px;
    flex-direction: column;
}

.headerContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cardHeader {
    margin: 0;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0;
}

.descriptionText {
    margin: 0;
    color: var(--text);
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
}

.tabsContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 80px;
}

.tabsBar {
    display: flex;
    gap: 40px;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0;
}

.tab {
    position: relative;
    background: none;
    border: 0;
    padding: 8px 0;
    font: inherit;
    cursor: pointer;
}

.tabActive {
    
}

.tabActive::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -12px;
    height: 3px;
    border-radius: 3px;
    background: var(--button);
}

.twoCol {
    display: flex;
    gap: 40px;
    align-items: stretch;
    justify-content: center;
    margin-top: 20px;
}

.featuresCardContainer {
    background-color: var(--inputs);
    border: 1px solid var(--inputs);
    border-radius: 10px;
    justify-items: center;
    flex: 1 1 auto;
    max-width: 631px;
    display: flex;
    flex-direction: column;
    padding: 44px 52px;
}


.featuresCard {
    
}

.detailsBox {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.detailBoxHeader {
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0;
    margin: 0;
}

.detailBoxContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.featureChips {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.visuallyHidden {
    position: absolute!important;
    width: 1px!important;
    height: 1px!important;
    margin: -1px!important;
    padding: 0!important;
    overflow: hidden!important;
    clip: rect(0 0 0 0)!important;
    border: 0!important;
}

.bookingFormContainer {
    flex: 1 1 auto;
    max-width: 641px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border: 1px solid var(--gray-light);
    border-radius: 10px;
    padding: 44px 57px;
}
